@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h4>Welcome To Our Site Please Register For Booking</h4>
                <h6>Away from monotonous life</h6>
                <h2>Relax Your Mind</h2>
            </div>
        </div>
    </div>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="hotel_booking_area position">
            <div class="container">
                <div class="hotel_booking_table">
                    <div class="col-md-3">
                        <h2>Login<br> For Booking</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <button type="submit" class="book_now_btn button_hover">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
<!--================Banner Area =================-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
